<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="author" content="Dzenan Ridjanovic"/>
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="/css/code.css"/>  
    <link rel="stylesheet" href="/css/layout.css"/>
    <link rel="stylesheet" href="/css/link.css"/>
    <link rel="stylesheet" href="/css/list.css"/>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/page.css"/>
  </head>

  <body>
    <header>  
      <h1>
        <a href="http://www.ondart.info/"><img src="/img/ondartb1.png"/></a>
        {{ page.title }}
        <!--  -->
      </h1>
    </header>

    <section>
      {{ content }}
    </section>

    <footer>
      <a href="http://www.dartlang.org/">Dart</a> |
      <a href="http://try.dartlang.org/">Dart Console</a> |
      <a href="https://plus.google.com/u/0/b/113649577593294551754/">On Dart</a> 
    </footer>

  </body>
</html>


