<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="author" content="Dzenan Ridjanovic"/>
        <title>{{ page.title }}</title> 
        <link rel="stylesheet" href="/css/code.css"/>  
        <link rel="stylesheet" href="/css/layout.css"/>
        <link rel="stylesheet" href="/css/link.css"/>
        <link rel="stylesheet" href="/css/list.css"/>
        <link rel="stylesheet" href="/css/menu.css"/>
        <link rel="stylesheet" href="/css/page.css"/>
    </head>

    <body>
        <header>  
            <h1>
                <a href="http://www.ondart.info/"><img src="/img/ondartb1.png"/></a>
               {{ page.title }}
               <!--  -->
            </h1>
        </header>

        <nav>
            <ul>
                <li>Dart
                    <ul>
                        <li>
                            <a href="http://www.dartlang.org/">Dart</a>
                        </li>
                        <li>
                            <a href="http://try.dartlang.org/">Dart Console</a>
                        </li>
                    </ul>  
                </li>
                <li>Magic Boxes
                    <ul>
                        <li>
                            <a href="http://goo.gl/I72z1">Browse Code</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s11/MagicBoxes/MagicBoxes.html">Design Model</a> 
                        </li>
                        <li>
                            <a href="https://github.com/dzenanr/MagicBoxes">Get Git</a> 
                        </li>
                        <li>
                            <a href="https://github.com/dzenanr/MagicBoxes/tags">Get Spirals</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s00/MagicBoxes/MagicBoxes.html">Spiral 00</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s01/MagicBoxes/MagicBoxes.html">Spiral 01</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s02/MagicBoxes/MagicBoxes.html">Spiral 02</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s03/MagicBoxes/MagicBoxes.html">Spiral 03</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s04/MagicBoxes/MagicBoxes.html">Spiral 04</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s05/MagicBoxes/MagicBoxes.html">Spiral 05</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s06/MagicBoxes/MagicBoxes.html">Spiral 06</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s07/MagicBoxes/MagicBoxes.html">Spiral 07</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s08/MagicBoxes/MagicBoxes.html">Spiral 08</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s09/MagicBoxes/MagicBoxes.html">Spiral 09</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s10/MagicBoxes/MagicBoxes.html">Spiral 10</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s11/MagicBoxes/MagicBoxes.html">Spiral 11</a> 
                        </li>
                        <li>
                            <a href="/mb/spirals/s12/MagicBoxes/MagicBoxes.html">Spiral 12</a> 
                        </li>
                    </ul>  
                </li>
                <li>On Dart
                    <ul>
                        <li>
                            <a href="https://plus.google.com/u/0/b/113649577593294551754/113649577593294551754/posts">Google+ Page</a> 
                        </li>
                    </ul>  
                </li>
                <li>Posts
                    <ul>
                        <li>
                            <a href="http://dzenanr.github.com/2012/01/23/from-s00-to-s01.html">From Spiral00 To Spiral01</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/01/31/from-s01-to-s02.html">From Spiral01 To Spiral02</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/02/from-s02-to-s03.html">From Spiral02 To Spiral03</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/07/from-s03-to-s04.html">From Spiral03 To Spiral04</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/10/from-s04-to-s05.html">From Spiral04 To Spiral05</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/15/from-s05-to-s06.html">From Spiral05 To Spiral06</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/21/from-s06-to-s07.html">From Spiral06 To Spiral07</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/24/from-s07-to-s08.html">From Spiral07 To Spiral08</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/02/29/from-s08-to-s09.html">From Spiral08 To Spiral09</a> 
                        </li>
                        <li>
                            <a href="http://dzenanr.github.com/2012/03/10/from-s09-to-s10.html">From Spiral09 To Spiral10</a> 
                        </li>
                        <li>
                            &nbsp; 
                        </li>
                    </ul>  
                </li>
                <li>About
                    <ul>
                        <li>
                            <a href="http://goo.gl/f1F2e">D. R. (CV in PDF)</a> 
                        </li>
                    </ul>  
                </li>
            </ul>
        </nav>

        <section>
            {{ content }}
        </section>

        <section>
     
        </section>

        <footer>
          <a href="http://dzenanr.github.com/ondart.rss">
            <img src="/img/xml.gif" width=36 height=14 alt="RSS feed for this site" border=0>
          </a>
        </footer>

    </body>
</html>


